$fontsPath : "./../fonts";

$White : #ffffff;
$Offwhite : #f1f1f1;
$lightBlue : #9A58DB;
$Blue : #693B92;
$darkBlue : #342542;
$lightGray : #f9f3ff;
$Gray : #807789;
$Yellow : #FFDF44;
$Orange : #EE7212;

